@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply text-link;
  }
  a:hover {
    @apply text-secondary;
  }
  body {
    @apply bg-light;
  }
  @media (prefers-color-scheme: dark) {
    a {
      @apply text-on-dark;
    }
    a:hover {
      @apply text-accent;
    }
    body {
      @apply bg-dark;
    }
  }
} */

.stroke {
  -webkit-text-stroke-width: -1px;
  -webkit-text-stroke-color: #023ca1;
  /* -webkit-text-fill-color: white; */
}

/* @media (prefers-color-scheme: dark) { */
.stroke-dark {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
/* } */
