// The Willie brand colors
$primary-color: #3C84FC;
$primary-color-dark: #3C84FC;
$secondary-color: #7284FF;
$accent-color: #00FCA8;

$text-color-on-primary: #FAFAFA;
$text-color-on-accent: #444444;

$background-main: #F4F4F4;